.env
uploads/*
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
tmp/
.gemini/
.vscode/
# Ignorar todos los archivos Markdown
*.md

# Exceptuar el README y CHANGELOG
!README.md
!readme.md
!CHANGELOG.md
!markdowns/*.md
*.txt
credentials.json
markdown/