.env
uploads/*
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
tmp/
.gemini/
.vscode/
# Ignorar todos los archivos Markdown
*.md

# Exceptuar archivos Markdown específicos
!README.md
!readme.md
!CHANGELOG.md
!.chglog/CHANGELOG.tpl.md
*.txt
credentials.json
markdown/